[db]
# Check the SQLAlchemy docs for proper path specs
engine_string = sqlite:///vot_listfill.sqlite

[form]
# valid types are 'testing' and 'live'
type = testing

[host]
domain = 
port = 
path = /hit

[mode]
production = false
