                    <div id="survey">
                        <p style="font-weight:bold;">Here are some questions about you:</p>
                        {% for question, formname, scale in [
                            ('How are you feeling today?', 'feeling', '1=extremely poorly, 4=normal, 7=extremely well'),
                            ('How much do you exercise?', 'exercise', '1=never, 4=a few times a month, 7=every day'),
                            ('How much time do you spend outdoors?', 'outside', '1=not at all, 4=moderately, 7=very much'),
                            ('How much do you care about politics?', 'politics', '1=not at all, 4=moderately, 7=very much'),
                            ('How often do you watch sports?', 'sports','1=never, 4=a few times a month, 7=every day'),
                            ('How much has your mood changed since the beginning of the experiment?', 'moodchange', '1=much worse, 4=stayed the same, 7=much better'),
                            ('How often do you go to the movies?', 'moviefreq', '1=never, 4=a few times a month, 7=every day'),
                            ('How often do you travel?', 'travel', '1=never, 4=a few times a year, 7=every month'),
                            ('How religious are you?', 'religious', '1=not at all, 4=moderately, 7=extremely'),
                            ('How often do you read for pleasure?', 'pleasureread', '1=never, 4=a few times a month, 7=every day'),
                            ('How cheerful a person would you say you are?', 'cheerful', '1=not at all, 4=moderately, 7=extremely'),
                            ('How musically inclined are you?', 'musical', '1=not at all, 4=moderately, 7=extremely'),
                            ('How closely do you pay attention to current events?', 'currentevents', '1=not at all, 4=moderately, 7=very much'),
                            ('How outgoing do you consider yourself?', 'outgoing', '1=not at all, 4=moderately, 7=extremely'),
                            ('How social of a person are you?', 'usersocial', '1=not at all, 4=moderately, 7=extremely'),
                            ('How often do you cook dinner at home?', 'cooking', '1=never, 4=a few times a week, 7=every day'),
                            ('How well do you think the US economy is doing at the moment?', 'economy', '1=extremely poorly, 4=fair, 7=extremely well')
                        ] %}
                        <table class="survquest" id="{{formname}}">
                            <tr>
                                <td colspan="7">
                                    <p class="sentence">{{question}}</p>
                                </td>
                            </tr>
                            <tr>
                                {% for x in range(1,8) %}
                                <td><input type="radio" name="{{formname}}" value="{{x}}" class="likert"></input></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for x in range(1,8) %}
                                <td>{{x}}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td colspan="7">{{scale}}</td>
                            </tr>
                        </table>
                        {% endfor %}
                        <table class="survquest" id="sleep">
                            <tr>
                                <td>
                                    <p class="sentence">How much did you sleep last night? (In hours)</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="sleep">
                                        <option value="NA" selected="selected">-----</option>
                                        <option value="0-2">0-2</option>
                                        <option value="2-4">2-4</option>
                                        <option value="4-6">4-6</option>
                                        <option value="6-8">6-8</option>
                                        <option value="8+">8+</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <p style="font-weight:bold;">Finally, we have some questions about the speaker in Part 1 of the experiment:</p>
                        {% for question, formname, scale in [
                            ('How similar do you think the speaker in Part 1\'s personality is to your own?', 'similarpersonality', '1=extremely different, 4=somewhat similar, 7=extremely similar'),
                            ('How much do you think you would like the speaker in Part 1?', 'likespeaker', '1=not at all, 4=moderately, 7=very much'),
                            ('How successful in life do you think the speaker in Part 1 is?', 'speakersuccess', '1=not at all, 4=moderately, 7=very much'),
                            ('How happy do you think the speaker in Part 1 is?', 'speakerhappiness', '1=not at all, 4=moderately, 7=extremely'),
                            ('How well do you think the speaker in Part 1 did in school?', 'speakerschool', '1=extremely poorly, 4=fair, 7=extremely well'),
                            ('How financially secure do you think the speaker is?', 'speakerfinance', '1=not at all, 4=moderately, 7=very much'),
                            ('How confident do you think the speaker is?', 'speakerconfidence', '1=not at all, 4=moderately, 7=very much'),
                            ('How successful in life, compared to yourself, do you think the speaker in Part 1 is?', 'speakercomparesuccess', '1=much less successful, 4=about the same, 7=much more successful'),
                        ] %}
                        <table class="survquest" id="{{formname}}">
                            <tr>
                                <td colspan="7">
                                    <p class="sentence">{{question}}</p>
                                </td>
                            </tr>
                            <tr>
                                {% for x in range(1,8) %}
                                <td><input type="radio" name="{{formname}}" value="{{x}}" class="likert"></input></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for x in range(1,8) %}
                                <td>{{x}}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td colspan="7">{{scale}}</td>
                            </tr>
                        </table>
                        {% endfor %}
                        <table class="survquest" id="speakerage">
                            <tr>
                                <td>
                                    <p class="sentence">How old do you think the speaker in Part 1 is?</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select name="speakerage">
                                        <option value="NA" selected="selected">-----</option>
                                        {% for x in range(18,71) %}
                                        <option value="{{x}}">{{x}}</option>
                                        {% endfor %}
                                        <option value="71+">71+</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <table class="survquest" id="malefemale">
                            <tr>
                                <td colspan="2"><p class="sentence">Is the speaker in Part 1 male or female?</p></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="malefemale" value="male"></input></td>
                                <td><input type="radio" name="malefemale" value="female"></input></td>
                            </tr>
                            <tr>
                                <td>Male</td>
                                <td>Female</td>
                            </tr>
                        </table>
                        <button type="button" id="endsurvey">Done</button>
                    </div>
